<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sanal Kütüphane</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Bootstrap CSS için gerekli link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-light text-center py-3 mt-4">
        <hr />
        <p>&copy; 2024 - Sanal Kütüphane</p>
    </footer>
    @RenderSection("Scripts", required: false)
    <!-- Bootstrap JS ve gerekli popper için linkler -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- site.js dosyasını dahil et -->
    <script src="~/js/site.js"></script>
</body>
</html>
