@model WebApplication2.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="UserNameOrEmail">Kullanıcı Adı veya E-posta</label>
        <input type="text" class="form-control" asp-for="UserNameOrEmail" />
        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
    </div>    
    <div class="form-group">
        <label for="SecurityQuestion">Güvenlik Sorusu</label>
        <select class="form-control" id="SecurityQuestion" name="SecurityQuestion" required>
            <option value="Doğduğunuz şehir nedir?">Doğduğunuz şehir nedir?</option>
            <option value="İlkokul öğretmeninizin adı nedir?">İlkokul öğretmeninizin adı nedir?</option>
            <option value="Evcil hayvanınızın adı nedir?">Evcil hayvanınızın adı nedir?</option>
            <option value="En sevdiğiniz kitap nedir?">En sevdiğiniz kitap nedir?</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SecurityAnswer">Güvenlik Sorusu Cevabı</label>
        <input type="text" class="form-control" asp-for="SecurityAnswer" />
        <span asp-validation-for="SecurityAnswer" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>