@{
    ViewData["Title"] = "Şifre Sıfırlama Onayı";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-success">
    Şifreniz başarıyla sıfırlandı. Giriş yapabilirsiniz.
</div>
<div class="card-footer text-right">
    <a href="/Account/Login" class="btn btn-primary">Geri Dön</a>
</div>